h1 {
    background: #000;
    padding: 10px;
    color: #fff;
}
span {
    color: aqua;
}

h2 {
    background-color: rebeccapurple;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-style: italic;
}

h3 {
    background-color: lightblue;
    padding: 10px;
    text-align: end;
    color: rebeccapurple;
    text-decoration: underline;
}