@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --body-bg-color: #fff;
    --nav-bg--color: #232323;
    --text-color: #555;
    --link-color: #2D6695;
    --like-btn-color: #FFE8A7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    background: linear-gradient(to top, #e0d7d9, #ffffff);
    /* background: linear-gradient(to top, #e0d7d9, #060101); */
    height: 100vh;
}


img {
    height: 50px;
}

#Likes__Nav {
    background-color: var(--nav-bg--color);
    color: #fff;
    padding: 10px 20px;
}

h1 {
    font-size: xx-large;
    font-weight: 500;
}

h2 {
    margin: 10px 0;
    text-align: center;
    font-size: x-large;
}


/* Define default styles here */
.container {
    max-width: 60rem;
    margin: 0 auto;
}

/* user card */
.user-avatar-lg {
    height: 80px;
    width: 80px;
}

.user-card, .user-post-card {
    background-color: var(--body-bg-color);
    padding: 30px 25px;
    margin-bottom: 0.5rem;
}

.user-card {
    display: flex;
    flex-direction: column;
}

.user-card > * {
    line-height: 2rem;
}


/* other user's posts */
.user-and-likes-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.likes-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.like-btn {
    background-color: var(--like-btn-color);
    border: 2px solid #232323;
    box-shadow: 2px 2px #232323;
    padding: 5px 15px;
    font-weight: 500;
    font-size: medium;
    height: 2rem;
    width: 5rem;
}

@media screen and (min-width: 992px) {
    .flex-container {
        display: flex;
    }
}
